h1
{font-family: fantasy;}

img
{border-width: 10px;
border-radius: 30px;
width: 30%;}

html
{background-color: cornflowerblue;
text-align: center;}

#Div1 img
{height: 300px;}

#Div2
{height: 200px:}

#Div3
{height: 100px;}